<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css"
          integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/home.css}"/>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
<header th:insert="~{/fragments/header :: menu}"></header>
<main>
    <div class="greeting">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <h1>Hey</h1>
                </div>
                <div class="col-md-5 offset-md-2 pb-5">
                    <form class="bg-light p-5 rounded">
                        <h4 class="pb-3">Попробуй сейчас!</h4>
                        <div class="form-group">
                            <input type="email" class="form-control form-control-lg" id="exampleInputEmail1"
                                   placeholder="Введи email">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control form-control-lg" id="exampleInputPhone1"
                                   placeholder="Введи телефон">
                        </div>
                        <button type="submit" class="btn btn-lg btn-success btn-block mb-3">Попробовать</button>
                        <p class="text-success"><i class="fa fa-gift"></i> БЕСПЛАТНАЯ доставка на 14 дней *</p>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="border-bottom border-light py-5">
        <div class="container">
            <div class="row text-center text-muted">
                <div class="col-2">
                    <p><img th:src="@{/img/step1.png}"/></p>
                    <strong class="text-uppercase">ВЫБЕРИ ПРОДУКТЫ НА НАШЕМ САЙТЕ</strong>
                </div>
                <div class="col"></div>
                <div class="col-2">
                    <p><img th:src="@{/img/step2.png}"/></p>
                    <strong class="text-uppercase">УКАЖИ УДОБНОЕ ВРЕМЯ ДОСТАВКИ</strong>
                </div>
                <div class="col"></div>
                <div class="col-2">
                    <p><img th:src="@{/img/step3.png}"/></p>
                    <strong class="text-uppercase">МЫ ПОЕДЕМ В МАГАЗИН И СОБЕРЕМ ЗАКАЗ </strong>
                </div>
                <div class="col"></div>
                <div class="col-2">
                    <p><img th:src="@{/img/step4.png}"/></p>
                    <strong class="text-uppercase">ПРИМИ ПОКУПКИ НЕ ВЫХОДЯ ИЗ ДОМА!</strong>
                </div>
            </div>
        </div>
    </div>
    <div class="py-5">
        <div class="container">

        </div>
    </div>
    <div class="py-5 bg-light">
        <div class="container">
            <ul>
                <li th:each="product: ${products.content}" th:text="${product.name}">
                </li>
            </ul>
            <p>Product counter: <span th:text="${products.content.size()}">0</span></p>
            <a href="/" th:href="@{/}">Home</a>
        </div>
    </div>

</main>
<footer>

</footer>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"
        integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
        crossorigin="anonymous"></script>
</body>
<!--/*@thymesVar id="products" type="org.springframework.data.domain.Page"*/-->
<!--/*@thymesVar id="product" type="ru.ftob.grostore.model.product.Product"*/-->
</html>
